<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'shared/sidebar', user: @book.user %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
      <tbody>
      <tr>
      <td>
        <!-- 左側：ユーザー画像 -->
        <div class= "me-3">
          <% if @book.user.profile_image.attached? %>
            <%= image_tag url_for(@book.user.profile_image), class: "img-thumbnail", size: "100x100" %>
          <% else %>
            <%= image_tag 'default-image.jpg', class: "img-thumbnail", size: "100x100" %>
          <% end %>
          <p class= "mt-2 text-center mb-0">
            <%= link_to @book.user.name,user_path(@book.user), class: "text-decoration-none" %>
          </p>
        </div>
      </td>
        
        <!-- 右側：本の内容 -->
        <td>
            <%= link_to @book.title, book_path(@book), class: "text-decoration-none" %>
        </td>
        <td>
          <p class="mb-0 me-4"><%= @book.body %></p>
        </td>

          <% if current_user == @book.user %>
          <td>            
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-outline-secondary btn-sm me-3" %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm me-3" %>            
          </td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>