<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'shared/sidebar', user: @book.user %>

    <div class="col-md-8 offset-md-1">
      <h2>Book Info</h2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @book.title %></h5>
          <p class="card-text"><%= @book.body %></p>

          <% if current_user == @book.user %>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-outline-secondary btn-sm" %>
            <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>